<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="bindname"
						 maxBufferSize="2147483646"
						 maxReceivedMessageSize="2147483646"/>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="_0507_도서관리_WCFService.BookWCFService" behaviorConfiguration="111">
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.0.139:8888/wcf/example/bookservice"/>
					</baseAddresses>
				</host>
				<endpoint
					contract ="_0507_도서관리_WCFService.IBook"
					address =""
					binding ="basicHttpBinding"
					bindingConfiguration="bindname"
				/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="111">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>