<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="_0507_WCF_PictureService.CPicture" behaviorConfiguration="myBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://127.0.0.1:8007/wcf/example/pictureservice"/>
					</baseAddresses>
				</host>
				<endpoint
					contract="_0507_WCF_PictureService.IPicture"
					address=""
					binding="basicHttpBinding"
				/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="myBehavior">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>